#crx-root {
  color: white;
}

#crx-root input {
  color: black;
  height: 32px;
}

#crx-root.hide {
  display: none !important;
}

#ptt-chat-header {
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

#ptt-chat-container {
  flex: 1;
  padding: 0 0 0 12px;
  overflow-y: scroll;
}

#ptt-chat-container.transparent {
  visibility: hidden;
}

#ptt-chat-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#ptt-chat-container::-webkit-scrollbar-thumb {
  background: #555;
  border: 0;
}

#ptt-chat-container::-webkit-scrollbar-track {
  background-color: transparent;
}

#ptt-chat {
  margin-right: 12px;
  height: 100%;
  color: white;
  font-size: 14px;
}

#ptt-chat .ptt-chat-row {
  padding: 4px 0 4px 0;
  word-break: break-all;
}

#ptt-chat .account {
  color: #2ba640;
}

#ptt-chat .message {
  color: #dedee3;
  /*color: #010110;*/
  /*color: #1f1f23;*/
}

#ptt-chat-footer {
  padding: 4px 4px 4px 4px;
  display: flex;
}

#ptt-chat-footer #submit {
  width: 36px;
  margin-left: 8px;
}
