#crx-root {
  height: 90%;
  width: 300px;
  position: fixed;
  top: 5%;
  right: 4px;
  z-index: 2147483647;
  border-radius: 16px;
}

#crx-root.mini {
  width: 36px;
  background-color: rgba(0, 0, 0, 0);
  height: 36px;
}

#crx-root.hide {
  display: none !important;
}

#ptt-chat-window {
  height: 100%;
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  padding: 4px 4px 12px;
  color: white;
}

#ptt-chat-window.transparent {
  background-color: transparent;
}

#ptt-chat-window .ptt-input {
  color: black;
  height: 32px;
}

#ptt-chat-window.transparent input:not(:focus) {
  background-color: transparent;
}

#ptt-chat-header {
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
}

#ptt-chat-header button {
  margin-right: 4px;
}

#ptt-chat-container {
  flex: 1;
  padding: 0 0 0 12px;
  overflow-y: scroll;
}

#ptt-chat-container.transparent {
  visibility: hidden;
}

#ptt-chat-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#ptt-chat-container::-webkit-scrollbar-thumb {
  background: #555;
  border: 0;
}

#ptt-chat-container::-webkit-scrollbar-track {
  background-color: transparent;
}

#ptt-chat {
  margin-right: 12px;
  height: 100%;
  color: white;
  font-size: 14px;
}

#ptt-chat .ptt-chat-row {
  padding: 4px 0 4px 0;
  word-break: break-all;
}

#ptt-chat .account {
  color: #2ba640;
}

#ptt-chat .message {
  color: #dedee3;
  /*color: #010110;*/
  /*color: #1f1f23;*/
}

#ptt-chat-footer {
  padding: 4px 4px 4px 4px;
  display: flex;
}

#ptt-chat-footer #submit {
  width: 36px;
  margin-left: 8px;
}
