#crx-root {
  position: relative;
}

#crx-root.hide {
  display: none;
}

#ptt-chat-window {
  position: fixed;
  z-index: 2147483637;
}

#ptt-chat-container::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

#ptt-chat-container::-webkit-scrollbar-thumb {
  background: #555;
  border: 0;
}

#ptt-chat-container.ptt-scroll-light::-webkit-scrollbar-thumb {
  background: #ccc;
}

#ptt-chat-container::-webkit-scrollbar-track {
  background-color: transparent;
}

#ptt-page-end {
  z-index: 2147483638;
  position: absolute;
  bottom: 60px;
}

#ptt-chat-settings {
  z-index: 2147483638;
}