#crx-root {
  height: 90%;
  width: 300px;
  position: fixed;
  top: 5%;
  right: 4px;
  z-index: 2147483647;
  background-color: #18181b;
  /*background-color: white;*/
  border-radius: 16px;
  padding: 4px 4px 12px;
  display: flex;
  flex-direction: column;
}

#crx-root.mini {
  width: 36px;
  background-color: rgba(0,0,0,0);
  height: 36px;
}