#crx-root {
  height: 80%;
  width: 300px;
  position: fixed;
  top: 10%;
  right: 4px;
  z-index: 2147483647;
  background-color: #18181b;
  /*background-color: white;*/
  border-radius: 16px;
  padding: 4px 4px 12px;
  display: flex;
  flex-direction: column;
}
